.results {
  display: flex;
}

.results > *.text {
  font-size: 1.5rem;
  align-self: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
}

.results ul {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.results .display {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
}
