.result {
  display: flex;
  width: calc(100% - 10rem);
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 1rem 5rem;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.result h3 {
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 3rem;
}

.result div p {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.result div p.first {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.result div p.second {
  padding-top: 10px;
}

.result:hover::after {
  content: "\203A";
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  font-size: 5rem;
  font-weight: 400;
}
