.info {
  display: flex;
  overflow-y: auto;
}

.info > .text {
  font-size: 1.5rem;
  align-self: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
}

.info > div {
  width: 100%;
}

.info hr {
  height: 0;
  border-top: 1px solid black;
}

.info p {
  padding: 0 2rem;
  font-size: 2rem;
}

.info p span:not(.no) {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -1px;
  text-transform: lowercase;
}

.info p:last-of-type {
  padding-bottom: 2rem;
}
