.info {
  display: flex;
  overflow-y: auto;
}

.info > .text {
  font-size: 1.5rem;
  align-self: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
}

.info > div {
  width: 100%;
}

.info hr {
  height: 0;
  border-top: 1px solid black;
}

.info hr.double {
  border-top-width: 2px;
}

.info p,
.info h3 {
  padding: 0 2rem;
  font-size: 2rem;
}

.info h3 {
  font-size: 2.5rem;
  text-transform: lowercase;
  font-weight: 900;
  letter-spacing: -2px;
  text-align: center;
}

.info p span:not(.no) {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -1px;
  text-transform: lowercase;
}

.info p span.no.comma:not(:last-of-type)::after {
  content: ", ";
  right: 100%;
  bottom: 0;
}

.info p:last-of-type {
  padding-bottom: 2rem;
}

.info a {
  color: black;
}
